$primary:#3880FF;
$primary-tint: #4C8DFF;
$primary-shade:#3171E0;

$secondary: #50C8FF;

$tertiary:#5260FF;
$tertiary-tint:#6370FF;
$tertiary-shade:#4854E0;

$success:#2DD36F;
$success-tint:#42D77D;
$success-shade:#28BA62;


$warning:#FFC409;
$warning-tint:#FFCA22;
$warning-shade:#E0AC08;


$danger:#ED576B;

$dark:#222428;
$dark-tint:#1E2023;
$dark-shade:#1E2023;

$medium:#808289;
$light-shade:#D7D8DA;
$light:#F4F5F8;
$white:#ffffff;
